<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.web.mapper.BoardMapper">


	<!-- 다른구문에서 재사용할 태그!! (검색조건) -->
	<!--prefix - 맨앞 추가, suffix 맨뒤 추가,  prefixOverrides 맨앞의 해당 단어찾아서 없앰 -->
	<sql id="criteria">
		<trim prefix="where (" suffix=")" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like concat('%',#{keyword},'%') 
						</when>
						<when test="type == 'C'.toString()">
							contents like concat('%',#{keyword},'%') 
						</when>
						<when test="type == 'W'.toString()">
							writer like concat('%',#{keyword},'%' )
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>




	<select id="boardlist" resultType="kr.web.vo.BoardVO">
		select * 
		from board 
		order by indate desc;
	</select>
	
	<select id="boardContent" parameterType="int" resultType="kr.web.vo.BoardVO">
		select * 
		from board 
		where idx=#{idx}
	</select>
	
	<update id="countUpdate" parameterType="int">
		update board
		set count = count + 1
		where idx = #{idx}
	</update>
	
	<insert id="boardInsert" parameterType="kr.web.vo.BoardVO">
		insert into board(title, contents, writer)
		values(#{title}, #{contents}, #{writer})
	</insert>
	
	<update id="boardUpdate" parameterType="kr.web.vo.BoardVO">
		update board 
		set title = #{title}, contents = #{contents}
		where idx = #{idx}
	</update>
	
	<delete id="boardDelete" parameterType="int">
		delete from board
		where idx = #{idx}
	</delete>

	
	<select id="listCriteria" parameterType="kr.web.vo.Criteria" resultType="kr.web.vo.BoardVO">
		select *
		from board
		<if test="keyword != null">
			<include refid="criteria"></include>
		</if>
		order by indate desc
		limit #{skip}, #{amount}
	
	</select>
	
	<select id="countPaging" resultType="int" >
		select count(idx)
		from board
	
	</select>
	
	<select id="boardTotal" resultType="int" parameterType="kr.web.vo.Criteria">
		select count(*) from board
		<if test="keyword != null">
			<include refid="criteria"></include>
		</if>
	</select>

	
</mapper>